* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;

  max-width: 136.6rem;
}

.request-third {
  display: grid;
  margin: 5rem 0;
  height: 40rem;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  background-color: black;
  color: wheat;
}

.request-title-third {
  font-size: 2.5rem;
  margin: 8rem 0 1rem 2rem;
}

.request-description-third {
  font-size: 1.5rem;
  margin: 1rem 0 1rem 2rem;
  opacity: 0.6;
  line-height: 2.2rem;
}

.request-input-third {
  background-color: rgb(43, 40, 40);
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  margin: 1rem 0 4rem 2rem;
  width: 40rem;
}

.request-input-third::placeholder {
  color: wheat;
}

.request-icon-third {
  display: flex;
  justify-content: center;
  align-items: center;
}

.request-one i {
  font-size: 1.5rem;
  color: #29d089;
  margin: 0.5rem;
}

.request-two {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/Union\ 3.png);
  background-repeat: no-repeat;
  background-size: 50rem 40rem;
  background-position: center;
}

/* project section */

.projects-header-third {
  text-align: center;
  margin: 10rem;
  position: relative;
}

.projects-header-third p:nth-child(1) {
  font-size: 2.5rem;
  font-weight: 700;
  z-index: 100;
  letter-spacing: 0.2rem;
}

.projects-header-third p:nth-child(2) {
  font-size: 10rem;
  font-weight: 750;
  color: rgb(229, 226, 226);
  z-index: -1;
  position: absolute;
  top: -5rem;
  left: 36%;
}

.project-body-third {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50rem;
}

.project-title-third {
  display: flex;
  margin: 5rem 0 1rem 5rem;
  align-items: center;
  font-size: 3rem;
}

.project-one-third p {
  font-size: 1.5rem;
  line-height: 3rem;
}

.project-description-third {
  padding: 1rem 0 3rem 5rem;
  font-size: 1.5rem;
  line-height: 3rem;
}

.project-icon-third {
  padding: 1rem 0 3rem 5rem;
  font-size: 1.5rem;
  line-height: 3rem;
}

.project-icon-third i {
  color: #29d089;
  margin-right: 1rem;
}

.project-number {
  background-color: rgb(214, 214, 214);
  margin: 1rem 0 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  border-radius: 1rem;
}

.project-two-third {
  text-align: center;
  position: relative;
  padding-top: 5rem;
}

.project-background-card {
  width: 40rem;
  height: 30rem;
  background-color: rgb(231, 220, 220);
  border-radius: 1rem;
  margin: 1rem auto;
}

.project-control-icon {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  padding-top: 5rem;
}

.project-card {
  height: 35rem;
  position: absolute;
  top: 11rem;
  border-radius: 2rem;
  background-color: white;
  width: 20rem;
  border: none;
  box-shadow: 0 0 0.8rem grey;
}

.project-control-icon i {
  border: 2px solid black;
  padding: 1rem;
  border-radius: 1rem;
  opacity: 0.8;
}

/* schedule section */

.schedule-title-third {
  text-align: center;
  margin: 10rem;
  position: relative;
}

.schedule-title-third p:nth-child(1) {
  font-size: 2.5rem;
  font-weight: 700;
  z-index: 100;
  letter-spacing: 0.2rem;
}

.schedule-title-third p:nth-child(2) {
  font-size: 10rem;
  font-weight: 750;
  color: rgb(229, 226, 226);
  z-index: -1;
  position: absolute;
  top: -5rem;
  left: 31%;
}

.schedule-how-third {
  font-size: 2.4rem;
  display: flex;
  justify-content: space-evenly;
  font-weight: 550;
}

.schedule-year-third {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20rem;
}

.schedule-year-third p {
  box-shadow: 0 0 0.8rem grey;
  padding: 1.5rem 5rem;
  font-size: 4.5rem;
  border-radius: 1.5rem;
}

.schedule-register-third {
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule-register-third p:nth-child(1) {
  background-color: black;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin: 1rem;
}

.schedule-register-third p:nth-child(2) {
  font-size: 2.6rem;
  font-weight: 550;
  margin: 1rem;
}

.schedule-register-third button {
  padding: 1rem 4rem;
  background-color: #f46632;
  color: white;
  border: none;
  border-radius: 1rem;
  margin: 1rem;
}

.schedule-footer-third {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20rem;
  background-color: black;
  color: wheat;
  margin-top: 5rem;
}

.schedule-footer-third p:nth-child(1) {
  font-size: 2rem;
}

.schedule-footer-third i {
  margin: 1rem;
}

.schedule-footer-third p:nth-child(3) {
  font-size: 1.8rem;
}

@media (max-width: 57.6em) {
  .request-third {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .request-two {
    display: none;
    width: 0;
  }

  /* project header */
  /* .schedule-title-third p:nth-child(2) {
    z-index: -1;
    position: absolute;
    top: -5rem;
    right: 0;
  } */

  .projects-header-third {
    text-align: center;
    margin: 10rem auto;
    position: relative;
  }

  .projects-header-third p:nth-child(1) {
    font-size: 2.5rem;
    font-weight: 700;
    z-index: 100;
    letter-spacing: 0.2rem;
  }

  .projects-header-third p:nth-child(2) {
    font-size: 10rem;
    font-weight: 750;
    color: rgb(229, 226, 226);
    z-index: -1;
    position: absolute;
    top: -5rem;
    transform: translateY(-1%);
    transform: translateX(-30%);
  }

  /* .projects-header-third p:nth-child(2) {
    z-index: -1;
    position: absolute;
    top: -5rem;
    left: 10%;
  } */

  /* project max-width: 576px */
  .project-body-third {
    display: grid;
    grid-template-columns: 1fr;
    height: 130rem;
  }

  .project-one-third {
    padding-right: 2rem;
  }

  /* schedule-footer-third */
  .schedule-how-third {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }

  .schedule-year-third {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 70%;
    margin: 2rem auto;
  }

  .schedule-register-third {
    margin: 3rem;
  }

  .schedule-footer-third {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media (max-width: 62em) {
  /* request */

  .request-two {
    background-image: none;
  }

  /* project */

  .project-description-third {
    padding: 0.5rem 0 2rem 2rem;
  }

  .project-icon-third {
    padding: 0.5rem 0 2rem 2rem;
    font-size: 1rem;
  }

  .project-one-third {
    text-align: center;
  }

  .project-two-third {
    display: none;
  }

  .project-card {
    margin: 0 5rem;
  }

  /*  */
}

@media (max-width: 75em) {
  .project-body-third {
    height: 70rem;
  }
}

@media (max-width: 48em) {
  .project-body-third {
    height: 60rem;
  }
  .project-two-third {
    margin-top: -10rem;
  }
  .schedule-year-third p {
    width: 70%;
    margin: 2rem auto;
    font-size: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    padding: 0;
  }

  .schedule-register-third {
    margin-top: 8rem;
  }
}

@media (max-width: 36em) {
  html {
    font-size: 50%;
  }

  /* request */

  .request-input-third {
    width: 80%;
  }

  .project-body-third {
    height: 120rem;
  }

  .project-two-third {
    margin-top: 0rem;
  }

  .project-one-third {
    text-align: left;
  }

  .project-two-third {
    display: block;
  }

  /* schedule */

  .schedule-year-third p {
    width: 70%;
    margin: 2rem auto;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    padding: 0;
  }

  .schedule-register-third {
    margin-top: 8rem;
  }

  .schedule-register-third p:nth-child(2) {
    font-size: 2rem;
  }
}
main {
  width: 100%;
  background-color: #111111;
  height: 100vh;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
nav .logo {
  width: 100px;
}
nav img {
  width: 100%;
}
.navigation {
  width: 700px;
  display: flex;
  justify-content: space-between;
}
.navigation a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
.register1 a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  padding: 1rem 2.5rem;
  background-color: rgba(255, 255, 255, 0.158);
  border-radius: 2rem;
}
.slider {
  background-color: white;
  display: flex;
  gap: 10rem;
  padding: 10rem;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.158);
  align-items: center;
  border-radius: 2rem;
  height: 100%;
  position: absolute;
  top: 0;
  width: 90%;
  transform: translateY(15%);
}
.slider img {
  width: 40rem;
}
.slider-text {
  width: 50%;
}
.slider-text h1 {
  font-size: 4rem;
}
.slider-header {
  width: 560px;
  background-image: url(img/UI\ UX.png);
  height: 12.6rem;
  background-size: cover;
  padding: 2rem 0;
  margin: 3rem 0;
}
.slider-text h2 {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.527);
}
.slider-text p {
  font-size: 1.8rem;
  line-height: 3;
}
.slider-text button {
  padding: 2rem 12rem;
  font-weight: 500;
  background-color: #f46632;
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
}
.about .container {
  border-radius: 2rem;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.315);
}
.about-title {
  display: grid;
  grid-template-columns: 6fr 5fr 40px;
  align-items: flex-end;
  gap: 1rem;
  transform: translateY(-40%);
}
.about-title img {
  width: 70%;
}
.about p {
  font-size: 1.5rem;
  line-height: 2;
}
.experience .container {
  padding: 2rem 10rem;
  margin-top: 8%;
  border-radius: 2rem;
  text-align: center;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.315);
}
.experience .container > img {
  width: 40%;
}
.ex-nav {
  margin-top: 1rem;
}
.ex-nav a {
  text-decoration: none;
  padding: 0.5rem 3rem;
  font-size: 1.5rem;
  color: black;
  border: 1px solid black;
  margin: 0 -2px;
}
.ex-nav a:focus {
  background-color: black;
  color: white;
}
.ex-nav a:first-child {
  border-radius: 1rem 0 0 1rem;
}
.ex-nav a:last-child {
  border-radius: 0 1rem 1rem 0;
  background-color: #111111;
  color: white;
}
.ex-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.ex-content p {
  font-size: 1.5rem;
  line-height: 2;
  text-align: left;
}
.container1 {
  width: 98%;
  margin: 0 auto;
}
.sessions_title {
  position: relative;
}
.sessions_title h2 {
  text-align: center;
  font-size: 12rem;
  color: #f0f1f1;
  position: absolute;
  transform: translate(-50%);
  top: -120%;
  left: 50%;
  z-index: -1;
}
.sessions_title h1 {
  margin: 3rem;
  margin-bottom: 10rem;
  text-align: center;
  font-size: 3.6rem;
}
.session_title2_left {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
}
.session_title2_left i {
  font-size: 3rem;
}
.sessions_title_into h1 {
  font-size: 2.8rem;
}
.sessions_title_into {
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: #f0f1f1;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.left1 {
  border-radius: 0.3rem;
  border-left: 0.8rem solid rgb(0, 0, 0);
}
.sessions_main_into {
  display: grid;
  grid-template-columns: 1fr 5fr;
  font-size: 1.6rem;
  margin-top: 3rem;
  align-items: center;
  line-height: 2;
}
.session {
  margin-top: 10rem;
}
.sessions_main_into_text {
  opacity: 0.6;
}
.sessions_title1 {
  margin-top: 10rem;
  position: relative;
}
.sessions_title1 h2 {
  text-align: center;
  font-size: 12rem;
  color: #f0f1f1;
  position: absolute;
  transform: translate(-50%);
  top: -130%;
  left: 50%;
  z-index: -1;
}
.sessions_title1 h1 {
  margin: 3rem;
  margin-bottom: 10rem;
  text-align: center;
  font-size: 3.6rem;
}
.masters_grid {
  gap: 2rem;
  row-gap: 10rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.masters_grid1 img {
  width: 100%;
}
.masters_grid1 h1 {
  margin-top: 2rem;
}
.masters_grid1 p {
  margin-top: 2rem;
  font-size: 1.6rem;
}
.faq_main1 {
  width: 100%;
  background-color: white;
  margin-top: 3rem;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  border-radius: 1rem;
  font-size: 2rem;
}
.fee_main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.fee_title {
  font-size: 2.4rem;
}
.fee_icon {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
}
.fee_icon i {
  font-size: 2.5rem;
  color: green;
}
.fee_main_left {
  background-color: black;
  color: white;
  border-radius: 2rem;
  text-align: center;
  padding: 3rem;
  line-height: 2;
}
.fee_main_left h2 {
  font-size: 2.8rem;
}
.fee_main_left p {
  font-size: 1.6rem;
  opacity: 0.5;
}
.fee_main_left button {
  margin-top: 2rem;
  width: 50%;
  height: 4rem;
  border-radius: 1rem;
  color: white;
  border: none;
  background-color: rgb(182, 123, 12);
}

@media (max-width: 1200px) {
  .slider-header {
    width: 40rem;
  }
  .slider-img img {
    width: 30rem;
  }
  .slider {
    padding: 5rem;
  }
}

@media (max-width: 1000px) {
  .slider {
    display: grid;
    grid-template-columns: 1fr;
  }
  .slider-text {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .slider-header {
    margin: 0 auto;
    width: 100%;
  }
  .slider-img {
    display: none;
  }
  .ex-nav {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
  }
  .ex-nav a {
    border-radius: 5px !important;
    margin-top: 5px;
  }
  .ex-content {
    display: grid;
    grid-template-columns: 3fr 7fr;
    margin: 10px 0;
  }
  .ex-content img {
    width: 100%;
  }
  .experience .container {
    padding: 3rem !important;
  }
}
@media (max-width: 751px) {
  .navigation {
    display: none;
  }
  .slider {
    padding: 0;
    margin-top: 2rem;
  }
  main {
    height: 60vh;
  }
  .about .container {
    display: grid;
    grid-template-rows: 1fr;
  }
  .about-title {
    text-align: center;
    display: flex !important;
    justify-self: center;
  }
  .about-title .forhide {
    display: none;
  }
  .about .container {
    padding: 1rem 2rem;
  }
}
.hiderr {
  display: none;
}
@media (max-width: 400px) {
  .slider-text h1 {
    font-size: 3rem;
  }
  .slider-text p {
    margin: 2rem 0;
  }
  .hiderr {
    display: block;
    width: 100px;
    margin: 0 auto;
  }
  .hiderr img {
    width: 100%;
  }
  .slider {
    margin-top: 3rem;

    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .slider-text .slider-header {
    height: 50px;
  }
  .slider-text p {
    line-height: 1.2;
    padding: 0 1rem;
  }
  .about-title {
    display: none !important;
  }
  .ex-content {
    display: flex;
    flex-direction: column;
  }
  .ex-nav {
    width: 90%;
  }
  .ex-content img {
    height: 100px;
  }
}
